@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

* {
    font-family: 'Roboto';
    box-sizing: border-box;
}

body {min-height: 1900px; background: #222; 
    background: repeating-linear-gradient(-45deg,rgb(0, 0, 0),rgb(0, 0, 0) 20px,rgb(95, 0, 64) 20px,rgb(42, 42, 121) 40px);
	background-size: 56px 56px;
	background-position-x:0%;
	-webkit-animation:'slide' 20s infinite linear forwards;
}

@-webkit-keyframes 'slide' {
    0% {background-position-x:0%;}
    100% {background-position-x:100%;}
}

.caixa {
    background: darkblue;
    color: #fff;
    padding: 20px;
    border: 3px dashed red;
    width: 200px;
    height: 200px;
    z-index: 1;
}

.caixa-interna {
    padding: 40% 0px;
    text-align: center;
}

.caixa-esquerda {
    position: absolute;
    top: 0;
    left: 0;
}

.caixa-direita {
    position: absolute;
    top: 0;
    right: 0;
}

.caixa-esquerda-bottom {
    position: absolute;
    bottom: 0;
    left: 0;
}

.caixa-direita-bottom {
    position: absolute;
    bottom: 0;
    right: 0;
}

.caixa-fixa {
    position: fixed;
    top: 30vh;
    left: 0; 
    right: 0; 
    margin-left: auto; 
    margin-right: auto; 
    z-index: 2;

}